:root {
    --main-color: black;
    --secondary-color: #C063EF;
    --text-color: white;
}


/* Cache l'input */
#menu-toggle {
    display: none;
}

.menu-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(logo-barNav.png) no-repeat center;
    font-size: 20px;
    rotate: 90deg;
    background-size: cover;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    z-index: 1001;

}

#menu {
    width: 86%;
    background: none;
    color: white;
    padding: 10px;
    z-index: 1000;
    margin: auto;

}

#menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: flex;
    padding: 5px 0;

}

#menu ul li a {
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

section {
    background-image: url("images_page_rangs/background_page_rangs_desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: space-evenly;
    justify-items: center;
    padding: 0%;
    gap: 0px;

    article {
        width: 250px;
        height: 300px;
    }

    h1 {
        color: var(--secondary-color);
        padding: 50px 45px 110px 0px;
    }

    p {
        padding: 10px 35px 0px 35px;
    }

    .image-button {
        display: none;
    }
}

section .article_rang_e {
    background-image: url("images_page_rangs/hunter_rang_E.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 10px 45px, center;
    background-size: 90%, 80%;

}

section .article_rang_e:hover {
    animation: card 2s forwards;
}

@keyframes card {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

section .article_rang_d {
    background-image: url("images_page_rangs/hunter_rang_D.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 25px 45px, center;
    background-size: 90%, 80%;
}

section .article_rang_d:hover {
    animation: card 2s forwards;
}

section .article_rang_c {
    background-image: url("images_page_rangs/hunter_rang_C.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px 45px, center;
    background-size: 90%, 80%;
}

section .article_rang_c:hover {
    animation: card 2s forwards;
}

section .article_rang_b {
    background-image: url("images_page_rangs/hunter_rang_B.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 30px 50px, center;
    background-size: 90%, 80%;
}

section .article_rang_b:hover {
    animation: card 2s forwards;
}

section .article_rang_a {
    background-image: url("images_page_rangs/hunter_rang_A.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px 40px, center;
    background-size: 90%, 80%;
}

section .article_rang_a:hover {
    animation: card 2s forwards;
}

section .article_rang_s {
    background-image: url("images_page_rangs/hunter_rang_S.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px 40px, center;
    background-size: 90%, 80%;
}

section .article_rang_s:hover {
    animation: card 2s forwards;
}

section .article_rang_nation {
    background-image: url("images_page_rangs/hunter_rang_nation.png"), url("images_page_rangs/card.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 25px 50px, center;
    background-size: 88%, 80%;
}

section .article_rang_nation:hover {
    animation: card 1s forwards;
}

section .titreNation {
    padding-right: 30px;
    padding-bottom: 75px;
}

.paragrapheNation {
    padding: 20px 40px 80px 40px;
}

section .crunchy {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .logos {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 50px 20px;
    width: 40%;
}

footer img {
    width: 70px;
    height: 70px;
}

footer .paragraphes {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

footer p {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

footer p#paragraphe1 {
    padding-bottom: 20px;
}

footer p#paragraphe3 {
    padding-bottom: 0px;
}