body {
    background-color: black;
}

:root {
    --main-color: black;
    --secondary-color: #C063EF;
    --text-color: white;
}

/* Cache l'input */
#menu-toggle {
    display: none;
}

.menu-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(logo-barNav.png) no-repeat center;
    font-size: 20px;
    rotate: 90deg;
    background-size: cover;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    z-index: 1001;

}

#menu {
    width: 86%;
    background: none;
    color: white;
    padding: 10px;
    z-index: 1000;
    margin: auto;

}

#menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: flex;
    padding: 5px 0;

}

#menu ul li a {
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.Boxbackground {
    background-image: url(imageprojetSL/desktopperso.svg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100vw;
    max-height: 100vh;
}

#BoxBoutonTop {
    display: none;
}

#topfooter {
    display: none;
}

.carrousel-container {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.carrousel li {
    flex: 0 0 33%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.carrousel img {
    width: 60%;
    height: auto;
}

.Personnage {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    z-index: 2;
}

.Personnage img {
    transform: scale(1.2);
    margin-top: -100px;
}


.boxperso {
    grid-area: 1 / 2 / 2 / 4;
    max-width: 70%;
    margin-top: 20px;
    margin-left: 200px;
}

.texteperso {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 0;
    text-align: center;
    font-family: Inter;
    color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: end center;
}

.texteperso>p {
    grid-area: 2 / 1 / 3 / 2;
}

.youtube {
    display: none;
}

.youtube-btn {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
    color: white;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.youtube-btn::before {

    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.youtube-btn:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .logos {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 50px 20px;
    width: 40%;
}

footer img {
    width: 70px;
    height: 70px;
}

footer .paragraphes {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

footer p {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
}

footer p#paragraphe1 {
    padding-bottom: 10px;
}

footer p#paragraphe3 {
    padding-bottom: 0px;
}