body {
    background-color: rgba(115, 40, 231, 255);
}

.Boxbackground {
    background-image: url(imageprojetSL/desktopperso.svg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100vw;
    max-height: 100vh;
}

#BoxBoutonTop {
    display: none;
}

#topfooter {
    display: none;
}

.carrousel-container {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.carrousel li {
    flex: 0 0 33%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.carrousel img {
    width: 60%;
    height: auto;
}

.Personnage {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    z-index: 5;
}

.Personnage img {
    transform: scale(1.3)
}


.boxperso {
    grid-area: 1 / 2 / 2 / 4;
    max-width: 70%;
    margin-top: 20px;
    margin-left: 200px;
}

.texteperso {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 0;
    text-align: center;
    font-family: Inter;
    color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: end center;
}

.texteperso>p {
    grid-area: 2 / 1 / 3 / 2;
}

.youtube {
    display: none;
}

.youtube-btn {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
    color: white;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.youtube-btn::before {

    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.youtube-btn:hover {
    transform: scale(1.1);
}